__pycache__/
*.py[cod]
*$py.class
build/
dist/
*.egg-info/
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
.vscode/
old/
.pypirc